*{
    box-sizing: border-box;
    padding:0;
    margin:0;
    font-family:"Poppins", sans-serif;
}
body{
    background-image:linear-gradient(to right,rgba(20,108,126,0.1), rgba(34,120,200,0.5));
    height:100vh;
    width:100vw;
    display:flex;
    justify-content:center;
    align-items:center;
    
}
.container{
    background-color:rgba(190, 148, 148, 0.8);
    background-size:cover;
    height:90%;
    max-height:300px;
    width:90%;
    max-width:600px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    color:white;
    background-position:center;
    box-shadow:0 10px 10px rgba(0,0,0,0.2);
   
}
.container h1{
    font-size:39px;
    letter-spacing:0.1em;
}

.buttons{
    margin:50px auto;
    display:flex;
    
}
.buttons button{
    background:none;
    border:none;
}
.buttons button{
    cursor:pointer;
    margin:auto 40px;
    font-size:20px;
    border:1px solid #fff;
    height:50px;
    width:50px;
    border-radius:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    color:#fff;
}
.buttons button:nth-child(2){
    font-size:45px;
    height:80px;
    width:80px;
    background-color: rgb(251, 51, 51);
    border:none;
    
    

}